.sidebar {
  display:none;
}

.header-wrapper {
  width:auto !important;
  margin:0 50px !important;
}

.container {
  width:auto !important;
  margin-left:50px !important;
  margin-right:50px !important;
}

.content {
  float:none !important;
  width:auto !important;
  margin-right:0 !important;
}

.archived-notice {
  text-align:right;
  padding:2px !important;
  background-color:transparent !important;
  border:0 !important;
  margin:0 !important;
  font-size:11px !important;
}

td.actions {
  text-align:right;
}

td.actions a {
  margin-left:5px;
}

td.actions a[href*="interactive"]{
  display:none;
}

table {
  position:relative;
}

tr .status-icon{
  position:absolute;
  left:5px;
  line-height:40px !important;
}

tr td:first-child{
  padding-left:30px !important;
}

tr:nth-child(n+12){
  display:none;
}