.container {
  width:auto !important;
  position:relative;
}

.header-wrapper {
  width:auto !important;
  margin:0 50px !important;
}

.tddium_ext_current_tentry {
  font-weight:bold !important;
}

#tddium_ext_locator{
  position:fixed;
  right:0;
  bottom:0;
  left:auto;
  top:auto;
  width:1px;
  height:1px;
  display:block;
  background-color:transparent;
}

.log.important-messages{
  display:none;
}

.report-links {
  margin-top:-30px;
  clear:none !important;
  display:none;
}

.reports-commit-log {
  display:none;
}

.dataTables_filter {
  float:none !important;
  text-align:left !important;
  padding:10px 0 0;
}

.dataTables_filter label{
  display:inline;
  line-height:20px;
}

.dataTables_filter input[type="text"]{
  display:block;
}

.test_pattern {
  display:none;
}

.application-and-service-logs li {
  float:left;
  width:23%;
  max-width:200px;
  padding: 5px 1% !important;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size:12px;
}

.session_entry_passed h2 {
  color:green;
}

.session_entry_failed h2 {
  color:red;
}

.session_entry_pending h2 {
  color:#aaa;
}

.session_entry_error h2 {
  color:goldenrod;
}


.time-summary-wrapper span {
  color:#8C8C8C;
  font-size:11px;
  display:block;
  margin-bottom:8px;
}

.session-list .repo-name {
  display:none;
}

.help {
  display:none;
}

.sidebar {
  float:none;
  position:absolute;
  right:50px;
  top:0;
  width:165px !important;
}

.content {
  width:auto !important;
  margin-right:240px !important;
  margin-left:50px;
}

.sidebar .links a[href="/"] {
  display:none;
}

.tdetail .help-links-column, .tdetail .help-column, .tdetail .separator {
  display:none;
}

.test-screenshots {
  padding:10px !important;
}

.test-screenshots .test-linkfile:last-child {
  margin:0 !important;
}

.report-banner {
  float:right;
  width:100px !important;
  padding:5px !important;
  height:25px;
  overflow:hidden;
  text-align:center;
}

.application-and-service-logs + .application-and-service-logs {
  display:none;
}